<!--About One Start-->
<section class="about-one">
    <div class="about-one-bg wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-one__left">
                    <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                        <div class="about-one__img">
                            <img src="{{site.url}}/image/kantor-pusat.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title text-left">
                        <!--
                        <div class="section-sub-title-box">
                            <p class="section-sub-title">BPR Mitra Cemawis Mandiri</p>
                            <div class="section-title-shape-1">
                                <img src="{{site.cdn}}assets/images/shapes/section-title-shape-1.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="{{site.cdn}}assets/images/shapes/section-title-shape-2.png" alt="">
                            </div>
                        </div>
                        -->
                        <h2 class="section-title__title">BPR Mitra Cemawis Mandiri</h2>
                    </div>
                    <p class="about-one__text-2">PT Bank Perkreditan Rakyat (BPR) Mitra Cemawis Mandiri (Perseroan)
                        didirikan pada tahun 1992 dengan nama PT BPR Bali Cemawis Mandiri, Berdasarkan Akta Notaris
                        Misahardi Wilamarta, Sarjana Hukum No.313 tanggal 17 Juli 1992 di Jakarta dan telah mendapatkan
                        persetujuan dari Menter Kehakiman Republik Indonesia dengan Surat Keputusan Nomor
                        C2-1407.HT.01.01.TH.1993 tertanggal 6 Maret 1993.<br />

                        Anggaran dasar tersebut telah mengalami perubahan dengan Akta Nomor 38 tertanggal 14 September
                        1998 oleh Notaris Veronica Lily Dharma, Sarjana Hukum, Notaris di Jakarta dan telah mendapatkan
                        persetujuan dari Menteri Hukum dan Perundang-undangan Republik Indonesia dengan Surat Keputusan
                        Nomor C2-1407.HT.01.01.TH.2000 tanggal 4 Januari 2000. Sedangakan Izin operasional berdasarkan
                        Izin Menteri Keuangan RI, Direktorat Jendral Lembaga Keuangan, Nomor : Kep-094/KM.17/1993
                        tertanggal 28 Mei 1993</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About One End-->