<header class="theme-main-menu sticky-menu theme-menu-three white-vr">
    <div class="inner-content position-relative">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo order-lg-0"><a href="{{ site.url }}" class="d-block">
                    <img src="/ideaimage/logo-pelangi-idea-mandiri-white-1.png" alt="" width="150"></a></div>

            <div class="right-widget d-flex align-items-center ms-auto ms-lg-0 order-lg-3"></div>
            <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="d-block d-lg-none">
                            <div class="logo"><a href="{{ site.url }}" class="d-block"><img
                                        src="/ideaimage/logo-pelangi-idea-mandiri-white-1.png" alt="" width="95"></a>
                            </div>
                        </li>
                        <li class="nav-item active"><a class="nav-link " href="/" role="button"
                                aria-expanded="false">Home</a></li>
                        <li class="nav-item"><a class="nav-link " href="/" role="button" aria-expanded="false">Tentang
                                Kami</a></li>
                        <li class="nav-item"><a class="nav-link " href="/" role="button" aria-expanded="false">Produk /
                                Service</a></li>
                        <li class="nav-item"><a class="nav-link " href="/" role="button"
                                aria-expanded="false">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link " href="/" role="button" aria-expanded="false">Media
                                Partner</a></li>
                        <li class="nav-item"><a class="nav-link " href="/" role="button"
                                aria-expanded="false">Contact</a></li>
                    </ul>
                    <!-- Mobile Content -->
                    <div class="mobile-content d-block d-lg-none"></div> <!-- /.mobile-content -->
                </div>
            </nav>
        </div>
    </div> <!-- /.inner-content -->
</header> <!-- /.theme-main-menu -->