<div class="hero-banner-three position-relative pt-150 md-pt-150" style="background-color: #1e3794;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft">
                <h1 class="hero-heading fw-bold mt-45 mb-40 md-mt-20 text-white">Tingkatkan penjualan anda dengan kami.
                </h1>
                <p class="text-lg mb-50 lg-mb-30 pe-xxl-4 text-danger">Kami berpengalaman lebih dari 5 tahun dalam
                    mengelola
                    berbagai produk dan jasa klien kami</p>
                <h2 class="fw-500 mt-40 mb-5 text-danger">A+ Rating </h2>
            </div>
        </div>
    </div> <!-- /.container -->
    <div class="mobile-screen wow fadeInRight">
        <div class="row gx-xxl-5 justify-content-center align-items-center pt-50">
            <div class="col-12">
                <img src="/images/lazy.svg" data-src="/ideaimage/banner-1.jpeg" alt="" class="lazy-img screen-one">
            </div>
        </div>
    </div> <!-- /.mobile-screen -->
</div> <!-- /.hero-banner-three -->