<!-- 
			=============================================
				Feature Section Thirty Four
			============================================== 
			-->
<div class="fancy-feature-thirtyFour mt-50">
    <div class="container">
        <div class="row gx-xxl-5">
            <div class="col-lg-4 col-sm-6">
                <div class="card-style-fifteen tran3s position-relative mt-35 wow fadeInUp" style="background:#fffee7;">
                    <h4>ADVERTISING AGENCY</h4>
                    <img src="/ideaimage/icon_100.svg" alt="" class="position-absolute">
                </div> <!-- /.card-style-fifteen -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card-style-fifteen tran3s position-relative mt-35 wow fadeInUp" style="background:#FBF1FF;"
                    data-wow-delay="0.2s">
                    <h4>JASA PEMBUATAN
                        <br />VIDEO COMPANY
                    </h4>
                    <img src="/ideaimage/icon_102.svg" alt="" class="position-absolute">
                </div> <!-- /.card-style-fifteen -->
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-style-fifteen tran3s position-relative mt-35 wow fadeInUp" style="background:#EEFBFA;"
                    data-wow-delay="0.3s">
                    <h4>JASA PEMBUATAN RILIS DAN
                        <br />PENYEBARAN KE MEDIA.
                    </h4>
                    <img src="/ideaimage/icon_101.svg" alt="" class="position-absolute">
                </div> <!-- /.card-style-fifteen -->
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.fancy-feature-thirtyFour -->